<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.king.myweb.mappers.replyMapper">
<!-- 댓글 조회 -->
<select id="readReply" resultType="com.king.myweb.domain.ReplyVO">
	SELECT RNO, CONTENT, WRITER, REGDATE FROM MYREPLY WHERE BNO = #{bno} 
</select>
 
<!-- 댓글 작성 -->
<insert id="writeReply">
	INSERT INTO MYREPLY(BNO,RNO,CONTENT,WRITER) VALUES(#{bno}, myReply_seq.nextval, #{content}, #{writer})
</insert>

<update id="updateReply">
	UPDATE MYREPLY SET CONTENT = #{content} WHERE RNO = #{rno}
</update>
<delete id="deleteReply">
	DELETE FROM MYREPLY WHERE RNO = #{rno}
</delete>
 <select id="readReplySelect" resultType="com.king.myweb.domain.ReplyVO">
 	SELECT BNO, RNO, CONTENT, WRITER, REGDATE FROM MYREPLY WHERE RNO = #{rno}
 </select>

</mapper>